<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["Person", "WebSite"],

  "name": "Itai Shapira",
  "url": "https://www.itai-shapira.com/",
  "jobTitle": "PhD Candidate, Computer Science",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "Harvard University"
  },

  "sameAs": [
    "https://www.linkedin.com/in/itai-shapira-54583a2ab/",
    "https://github.com/ishapira1",
    "https://scholar.google.com/citations?user=JOQXRbIAAAAJ",
    "https://x.com/IShapira1"
  ]
}
</script>
