<h2>Projects</h2>
<div class="grid__wrapper">
  <div class="grid__item">
    <h2>Accelerating Large Language Model Decoding Using Random Speculative Sampling Algorithm</h2>
    <h3>2023</h3>
    <p>In this project, I implemented the Random Speculative Sampling Algorithm as proposed in the paper "Accelerating Large Language Model Decoding with Speculative Sampling." The technique speeds up decoding in large language models by parallelizing the decoding process and speculatively predicting multiple tokens at once.</p>
    <a href="https://github.com/link-to-your-project">GitHub</a>
  </div>

  <div class="grid__item">
    <h2>Indivisible Goods Allocation in Future-Looking Multi-Round Settings</h2>
    <h3>2023</h3>
    <p>Final project of Harvard CS-238. Analyzing fair mechanisms for allocating indivisible goods in an offline, multi-round setting. This model captures the essence of certain allocation problems, such as resource allocation in food banks, vaccine distribution, and position assignments in organizations. Our main results show it's generally speaking impossible to guarantee fairness without adjustments yet we can bound the number adjustments needed. We construct fair algorithms for two special cases: two-players and binary valuations.</p>
    <a href="pdfs/Indivisible_Goods_Allocation_Future-Looking_Multi-Round_Settings.pdf/">PDF</a>
  </div>

  <div class="grid__item">
    <h2>GiggleGPT - a generative AI Twitter bot</h2>
    <h3>2023</h3>
    <p>GiggleGPT is a generative AI Twitter bot that reads news articles featuring human achievements, mishaps, and quirks, and crafts tweets to its audience. It continually improves its comedic prowess by analyzing its success based on the number of likes each tweet receives, allowing it to fine-tune its humor.</p>
    <a href="https://twitter.com/link-to-twitter">Twitter</a>
  </div>
</div>
