<h2>Research</h2>

<div class="research-item">
    <h2 class="research-title">Expressivity of Shallow and Deep Neural Networks for Polynomial Approximation</h2>
    <h3 class="research-details">Itai Shapira, 2023
        <span class="research-link"><a href="https://arxiv.org/abs/2303.03544">[Arxiv]</a></span>
    </h3>
    <p class="research-description">This research analyzes the number of neurons required by ReLU neural networks to approximate multivariate monomials, exploring the expressive power of depth versus overall complexity.</p>
</div>

<div class="research-item">
    <h2 class="research-title">Optimal Engagement-Diversity Tradeoffs in Social Media</h2>
    <h3 class="research-details">Itai Shapira, Fabian Baumann, Daniel Halpern, Ariel D. Procaccia, Iyad Rahwan, Manuel Wuthrich, 2023
        <span class="research-link"><a href="https://arxiv.org/abs/2303.03549">[Arxiv]</a></span>
    </h3>
    <p class="research-description">This paper investigates whether echo chambers are an inevitable result of high engagement in social media platforms, providing theoretical and empirical results on the engagement-diversity tradeoff.</p>
</div>

<div class="research-item">
    <h2 class="research-title">Market Power and Dropping Strategies: A New Approach to Stable Matching Mechanisms</h2>
    <h3 class="research-details">Itai Shapira, 2023
        <span class="research-link"><a href="/pdfs/Market_Power_And_Dropping_Strategies.pdf">[PDF]</a></span>
    </h3>
    <p class="research-description">Introducing the dropping lemma and the concept of market power, this paper simplifies the analysis of one-to-one matching markets, providing insights on strategy, market power, and incentives in matching mechanisms.</p>
</div>
