<div class="research-item">
    <h2 class="research-title">SOAP: Improving and Stabilizing Shampoo using Adam</h2>
    <h3 class="research-details">Co-authors: Nikhil Vyas, Depen Morwani, Rosie Zhao, Itai Shapira, David Brandfonbrener, Lucas Janson, Sham Kakade, 2024
        <span class="research-link"><a href="https://arxiv.org/abs/2409.11321">[Arxiv]</a> Under review for ICLR 2025</span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">A New Perspective on Shampoo’s Preconditioner</h2>
    <h3 class="research-details">Co-authors: Depen Morwani, Nikhil Vyas, Eran Malach, Sham M. Kakade, Lucas Janson, 2024
        <span class="research-link"><a href="https://arxiv.org/abs/2406.17748">[Arxiv]</a> Under review for ICLR 2025</span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">Axioms for AI Alignment from Human Feedback</h2>
    <h3 class="research-details">Co-authors: Luise Ge, Daniel Halpern, Evi Micha, Ariel D. Procaccia, Yevgeniy Vorobeychik, Junlin Wu, 2024
        <span class="research-link"><a href="https://arxiv.org/abs/2405.14758">[Arxiv]</a> NeurIPS 2024 <strong>(Spotlight)</strong></span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">Bias Detection Via Signaling</h2>
    <h3 class="research-details">Co-authors: Yiling Chen, Tao Lin, Ariel D. Procaccia, Aaditya Ramdas, 2024
        <span class="research-link"><a href="https://arxiv.org/abs/2405.17694">[Arxiv]</a> NeurIPS 2024</span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">Learning Social Welfare Functions</h2>
    <h3 class="research-details">Co-authors: Kanad Shrikar Pardeshi, Ariel D. Procaccia, Aarti Singh, 2024
        <span class="research-link"><a href="https://arxiv.org/abs/2405.17700">[Arxiv]</a> NeurIPS 2024 <strong>(Spotlight)</strong></span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">Generative Social Choice</h2>
    <h3 class="research-details">Co-authors: Sara Fish, Paul Gölz, David C. Parkes, Ariel D. Procaccia, Gili Rusak, Manuel Wüthrich, 2023
        <span class="research-link"><a href="https://arxiv.org/abs/2309.01291">[Arxiv]</a> <a href="https://openai.com/blog/democratic-inputs-to-ai-grant-program-update">[OpenAI Blog]</a></span>
    </h3>
    <p class="conference-info">2024 ACM Conference on Economics and Computation (EC 2024)</p>
</div>

<div class="research-item">
    <h2 class="research-title">Optimal Engagement-Diversity Tradeoffs in Social Media</h2>
    <h3 class="research-details">Co-authors: Fabian Baumann, Daniel Halpern, Ariel D. Procaccia, Iyad Rahwan, Manuel Wuthrich, 2023
        <span class="research-link"><a href="https://dl.acm.org/doi/abs/10.1145/3589334.3645713">[ACM]</a> <a href="https://arxiv.org/abs/2303.03549">[Arxiv]</a></span>
    </h3>
    <p class="conference-info">2024 ACM Web Conference</p>
</div>

<div class="research-item">
    <h2 class="research-title">Expressivity of Shallow and Deep Neural Networks for Polynomial Approximation</h2>
    <h3 class="research-details">2023
        <span class="research-link"><a href="https://arxiv.org/abs/2303.03544">[Arxiv]</a></span>
    </h3>
</div>

<div class="research-item">
    <h2 class="research-title">Market Power and Dropping Strategies: A New Approach to Stable Matching Mechanisms</h2>
    <h3 class="research-details">2023
        <span class="research-link"><a href="/pdfs/Market_Power_And_Dropping_Strategies.pdf">[PDF]</a></span>
    </h3>
</div>
