.project-item {
    margin-bottom: 40px;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.project-year {
    font-size: 1em;
    margin-left: 10px;
    font-weight: normal;
}

.project-link {
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
}

.project-description {
    margin-top: 10px;
}

.research-item {
    margin-bottom: 40px;
}

.research-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 3px;
}

.spotlight {
    color: #ffa000;
    font-weight: normal;
}


.research-details {
    font-size: 0.7em;
    display: inline;
    font-weight: normal;
    font-style: italic;
}


.research-link {
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    color: #a3279b;
}

.conference-info {
    font-size: 0.9em; /* Adjust the size as needed */
    font-style: normal; /* You can set this to italic if preferred */
    //color: #333; /* Adjust the color as needed */
    //margin-top: 5px; /* Add some space between the research details and the conference info */
}

.research-description {
    margin-top: 10px;
}
.research-update {
    background-color: #f4f4f4; /* light gray background */
    border-left: 4px solid #2196F3; /* blue left border */
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

