.project-item {
    margin-bottom: 40px;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.research-notation { white-space: nowrap }


.project-year {
    font-size: 1em;
    margin-left: 10px;
    font-weight: normal;
}

.project-link {
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    color: #5c83f2;
}

.project-description {
    margin-top: 10px;
    color: #9c9da2;
}

.research-item {
    margin-bottom: 40px;
}

.research-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
}

.research-details {
  font-size: 0.65em;
  display: inline;
  font-weight: normal;
  color: #9c9da2; /* Replace with your desired color */
     margin-bottom: 3px;
}


.research-link {
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    color: #5c83f2;
}

.research-description {
    margin-top: 10px;
}
.research-update {
    background-color: #f4f4f4; /* light gray background */
    border-left: 4px solid #2196F3; /* blue left border */
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.spotlight {
    color: #ffa000;
    font-weight: normal;
}
